.cell {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
